/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    box-sizing: border-box;
   }
   *,
   *::before,
   *::after {
    box-sizing: inherit;
   }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow:auto
}

html{
    --main-color: #fef6e4;
    --button-color:#f582ae;
    --nav-color:#f3d2c186;
    --header-color:#001858;
    --body-text-color:#172c66;
    --background-color:#f3d2c1;
    --secondary-color:#8bd3dd;
    background-color: var(--main-color);
    font-family: 'Raleway', sans-serif;
    letter-spacing: -0.025em;
}

body{
    margin: 0;
    padding:0;
    width:100%;
    min-height:568px;
    min-width:320px;
}


ul{
    list-style: none;
}

ul li a{
    text-decoration: none;
}

.icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon-text span {
    display: block;
    text-align: center;
}
nav ul{
    padding-left: 0;
} 
@media only screen and (min-width: 980px){

    .questions-container{
        max-width:600px;
        display:flex;
        flex-direction: column;
        align-items: center; 
        position: relative;
        text-align: center;    
    }
    .questions-container #description{
        text-align: center;
    }
}
@media only screen and (max-width: 980px) {
    body{
        display:block;
        width:100%;
        justify-content: center;
        height:100vh;
    }

   

    h1{
        font-size:4vw;
    }

    main{
        margin:0;
        width:100%;
        display:flex;
        text-align: center;
        height: calc(100% - 100px);
    }
    .questions-container{
        max-width: 400px;
        font-size:100%;
        margin-top: 0;
        padding-top:2rem;
        overflow-y: hidden;
    }
}
  


main{
    display:flex;
    justify-content: center;
    height:100vh;
    display:flex;
    align-items: center;
}

.next, .back, #submit, #start, #return{
    display:inline-block;
    margin:0.5rem;
    display:hidden;
    border:none;
    color:var(--body-text-color);
    background-color: var(--background-color);
    padding:0.5rem;
    transition: 0.3s;
}
#start:hover, #submit:hover, #return:hover{
    background-color: var(--button-color);
}

.next:hover, .back:hover{
    background-color: var(--body-text-color);
    color:var(--background-color);
}

input[type="checkbox"], input[type="radio"]{
    display:none;
    cursor: pointer;
}

input[type="checkbox"]:checked + label, input[type="radio"]:checked + label{
    background-color:var(--background-color);
    outline:var(--body-text-color) 2px solid;
    transition:0.3s;
}


#question1 label, #question2 label, #question3 label, #question5 label{
    font-family: 'Raleway', sans-serif;
    font-size: 130%;
    display:block;
    padding:0.5rem;
    cursor: pointer;
    margin: 20px;
    color: var(--body-text-color);
    transition:0.3s;
}

label:hover{
    background-color: var(--background-color);

}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    align-items:center;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
}

.grid-container label{
    padding:1em 0;
    color:var(--body-text-color);
    font-size:1.3em;
}

#result{
    overflow: scroll;
}
#result #video-container{
    display:flex;
    justify-items: center;
    max-width:700px;
    max-height: 600px;
}
  #result #video-container .pngbox {
    width: 100%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 0;
  }
  #result #video-container .pngbox #thumbnail {
    display: block;
    width:300px;
    height: 200px;
    object-fit: cover;
  }
  #result #video-container p {
    text-align: left;
    padding-left:1em;
    max-width:200px;
    color:var(--body-text-color);
    text-decoration: none;
  }

  a{
    color:var(--body-text-color);
    text-decoration: none;
  }